<h1>Restaurant</h1>
<div><%= @restaurant.name%></div>
<div><%= @restaurant.phone_number %></div>
<div><%= @restaurant.capacity %></div>
<div><%= @restaurant.street_number%></div>
<div><%= @restaurant.street_name%></div>
<div><%= @restaurant.city%></div>
<div><%= @restaurant.province%></div>
<div><%= @restaurant.country%></div>
<div><%= @restaurant.postal_code%></div>
<%= content_tag :div, link_to('Edit',edit_manager_restaurant_path) %>
<h2>Reservations</h2>
<table>
  <thead>
  <tr>
    <th>Reservation Name</th>
    <th>Party Size</th>
    <th>Reservation Time</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @restaurant.reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.customer.name %></td>
        <td><%= reservation.party_size %></td>
        <td><%= reservation.date %></td>
        <td><%= reservation.status %></td>
        <td>
          <% if reservation.status == :pending %>
              <%= link_to 'Approve', approve_restaurant_reservation_path(reservation), method: :post %>
              <%= link_to 'Reject', reject_restaurant_reservation_path(reservation), method: :post %>
          <% else %>

          <% end %>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>