<h1> <%= @customer.name %>'s Profile </h1>

<h2>Reservations</h2>

<% @customer.reservations.each do |reservation| %>
	<div>
		<p>Restaurant: <%= reservation.restaurant.name %></p>
		<p>Date: <%= reservation.date %></p>
		<p>Status: <%= reservation.status %></p>
		<p>Party Size: <%= reservation.party_size %></p>
	</div>
	<div>
		<%= link_to "View Restaurant", restaurant_path(reservation.restaurant)  %>
		<%= link_to "Cancel Reservation", cancel_customer_reservation_path(reservation.restaurant.id, reservation.id), method: :patch %>
	</div>
<% end %>


