
<h2>Address</h2>
<p><%= @restaurant.street_number %> <%= @restaurant.street_name %></p>
<p><%= @restaurant.city%>, <%= @restaurant.province %>, <%= @restaurant.postal_code %></p>
<p><%= @restaurant.country %></p>