<h1><%= @restaurant.name %></h1>

<p>Phone: <%= @restaurant.phone_number %></p>
<p>Hours: <%= @restaurant.hours %></p>

<p>Capacity: <%= @restaurant.capacity %></p>

<div>
	<%= render 'address' %>
</div>