<h1>Administrators Page</h1>
<p>Hello Administrator: <%= current_user.name %></p>
<h2>Users</h2>
<td>Create Admin User placeholder</td>
<table>
  <thead>
      <tr>
        <th>User Name</th>
        <th>User type</th>
        <th>User Phone Number</th>
        <th>User Email</th>
        <th>Edit User</th>
        <th>Delete User</th>
      </tr>
  </thead>
  <tbody>
  <%= User.find_each do |user|%>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.type %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.email %></td>
      <td>Edit Link</td>
      <td><%= link_to "Delete", @user, method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}  %></td>
    </tr>
  <% end %>
  </tbody>
</table>