<h1>Administrators Page</h1>
<p><%= current_user.name %></p>
<h2>User</h2>
<table>
  <thead>
  <tr>
    <th>User Name</th>
    <th>User type</th>
    <th>Create new admin user</th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= current_user.name %></td>
        <td>
          <%= @users.each do |user|%>
              <p>User Name: <%= user.name %></p>
              <p>User Type: <%= user.type %></p>
              <p>User Phone Number: <%= user.phone_number %></p>
              <p>Email address: <%= user.email %> </p>
          <% end %>
        </td>
      </tr>
  </tbody>
</table>