<!DOCTYPE html>
<html>
<head>
  <title>BitmakerSeatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |type, value| %>
<h3><%= type %> - <%= value %></h3>
<% end %>

<%= yield %>


</body>
<% if current_user %>
    <%= link_to "log out", session_path(current_user), method: :delete %>
<% else %>
    <p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>
</html>
